<!DOCTYPE html>
<html lang="en" ng-app="market" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="edit_product.js"></script>
    <title>Редактирование товара</title>
</head>
<body>
<div class="container" ng-controller="indexController">
    <h1>Новый товар</h1>
    <form novalidate ng-submit="addProduct()">
        <div class="form-group row">
            <div class="form-group col-md-3">
                <label for="titleProduct">Название товара</label>
                <input  class="form-control" type="text" id="titleProduct" placeholder="название товара" ng-model="newProduct.title">
            </div>
            <div class="form-group col-md-3">
                <label for="priceProduct">Цена</label>
                <input class="form-control" type="number" id="priceProduct" placeholder="цена" ng-model="newProduct.price">
            </div>
        </div>
        <div>
            <button class="btn btn-success" type="submit" ng-click="addNewProduct()">Добавить товар</button>
        </div>
    </form>
    <p></p>
    <h2 align="center">Список всех товаров</h2>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="p in productsList">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button type="button" class="btn btn-primary">Редактировать</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" ng-click="deleteProductById(p.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>