<!DOCTYPE html>
<html lang="en" ng-app="market" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
    <title>Список товаров</title>
</head>
<body>
<div class="container" ng-controller="indexController">
    <h1>Список товаров</h1>
    <form novalidate ng-submit="loadProducts()">
        <div class="form-group row">
            <div class="form-group col-md-3">
                <label for="FilterMinPrice">Минимальная цена</label>
                <input  class="form-control" type="number" id="FilterMinPrice" placeholder="минимальное значение" ng-model="filter.min_price">
            </div>
            <div class="form-group col-md-3">
                <label for="FilterMaxPrice">Максимальная цена</label>
                <input class="form-control" type="number" id="FilterMaxPrice" placeholder="максимальное значение" ng-model="filter.max_price">
            </div>
            <div class="form-group col-md-3">
                <label for="Title_part">Поиск по названию</label>
                <input class="form-control" type="text" id="Title_part" placeholder="поиск по названию" ng-model="filter.title_part">
            </div>
            <div class="form-group col-md-2">
                <label for="Page">Номер страницы</label>
                <input class="form-control" type="number" id="Page" placeholder="Номер страницы" ng-model="filter.p">
            </div>
        </div>
        <div>
            <button class="btn-success" type="submit">Фильтровать</button>
            <button class="btn-success" type="button" onclick="document.location='http://localhost:3000/edit_product.html'">Добавить/изменить товар</button>
        </div>
    </form>
    <p></p>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="p in productsList">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <!--                <button type="button" class="btn-primary" ng-click="showProductInfo(p.id)">Info</button>-->
                <!--                <button type="button" class="btn-danger" ng-click="deleteProductById(p.id)">Delete</button>-->
                <!--                <button type="button" class="btn btn-danger" ng-click="deleteProductById(p.id)">Удалить</button>-->
            </td>
            <td>
                <button type="button" class="btn btn-primary"  ng-click="addToCart(p.id)">В корзину</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <h2>Корзина</h2>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Количество</td>
            <td>Цена</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="item in cart.items">
            <td>{{item.productId}}</td>
            <td>{{item.productTitle}}</td>
            <td>
                <button type="button" class="btn-secondary"> - </button>
                {{item.quantity}}
                <button type="button" class="btn-secondary"> + </button>
            </td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + (item.price * item.quantity)}}</td>
            <td>
                <button type="button" class="btn-danger" ng-click="deleteProductInCart(item.productId)" >Удалить</button>
            </td>
        </tr>
        <tr>
            <td>Итого</td>
            <td></td>
            <td>{{cart.totalPrice}}</td>
            <td>
                <button type="button" class="btn-danger" ng-click="cleanCart(p.id)">Очистить корзину</button>
                <button type="button" class="primary" ng-click="createOrder()">Оформить заказ</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>